<h1>New Contact</h1>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Hodor" id="first_name" type="text" class="validate" ng-model="newContact.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Hodor" id="last_name" type="text" class="validate" ng-model="newContact.lastName">
          <label for="last_name">Last Name</label>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Hodor" id="street_address" type="text" class="validate" ng-model="newContact.streetAddress">
          <label for="street_address">Street Address</label>
        </div>
        <div class="row">
        <div class="input-field col s6">
          <input placeholder="Hodor" id="city_state" type="text" class="validate" ng-model="newContact.cityState">
          <label for="city_state">City, State</label>
        </div>
        <div class="input-field col s5">
          <input placeholder="Hodor" id="zipcode" type="text" class="validate" ng-model="newContact.zipcode">
          <label for="zipcode">Zipcode</label>
        </div>
        <div class="row">
        <div class="input-field col s5">
          <input placeholder="Hodor" id="phone" type="text" class="validate" ng-model="newContact.phone">
          <label for="phone">Phone</label>
        </div>
        <div class="input-field col s8">
          <input placeholder="Hodor" id="email" type="text" class="validate" ng-model="newContact.email">
          <label for="email">E-mail</label>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <input placeholder="Hodor" id="notes" type="text" class="validate" ng-model="newContact.notes">
          <label for="notes">Notes</label>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
</form>
</div>
  <a class="btn-floating btn-large waves-effect waves-light red" ng-click="addNewContact()"><i class="material-icons">add</i></a>
